body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;     
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

.container {
    max-width: 550px;
    height: 550px;
    margin: auto;
    padding: 45px;
    padding-top: 100px;
    background-color: #1F2937;
    border-radius: 6px;
}

.char-amount-container {
    display: flex;
    column-gap: 1rem;
    color: #D5D4D8;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

.number-input {
    width: 2rem;
    font-weight: 300;
    border-radius: 10px;
}

.upContent{
    border-bottom: 1px solid #2F3E53;
}

.heading {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: white;
    margin-bottom: 5px
}

.heading span {
    color: #4ADF86;
}

p {
    color: #D5D4D8;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    margin-top: 5px;
    margin-bottom: 30px
}

button {
    padding: 9px 17px 9px 15px;
    gap: 12px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Karla', sans-serif;
    color: white;
    cursor: pointer;
    background: #10B981;
    border-radius: 6px;
    border: none;
    margin-top: 50px;
    margin-bottom: 60px;
    width: auto;
    height: auto;
}
button:hover {
    background: #0c9467;
    transition: 0.5s;
}

.downContent {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.outputText {
    margin: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 500;
    background: #273549;
    font-size: 16px;
    line-height: 32px;
    width: 211px;
    height: 39px;
    text-align: center;
    color: #55F991;
    border: none;
    border-radius: 6px;
}